body {
  background-color: #5f9393;
  padding-top: 36px;
}

nav {
  display: flex;
  justify-content: flex-end;
  background-color: #003333;
  padding-right: 10px;

  a {
    font-family: syncopate, sans-serif;
    transform: scale(.9, .8);
    padding: 10px 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
  }

  .selected, a:hover.selected {
    color: #fcee21;
  }
  
  a:hover {
    color: #01ffff;
  }
}

.app {
  width: 960px;
  margin: 0 auto;
}

header {
  position: relative;
  height: 515px;
  display: flex;

  h1{
    position: relative;
    top: -20px;
    left: 10px;
    color: white;
    font-family: syncopate, sans-serif;
    font-size: 160px;
    font-weight: bold;
    opacity: .85;
    margin: auto;
    text-transform: uppercase;
    transform: scale(1.0, .8);
  }
}

.logo {
  height: 252px;
  width: 252px;
}

footer {
  background-color: #ffface;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 30px;

  .news-letter {
    background: #ffface;
    color: #007777;
    font-weight: 700;
    font-size: 18px;
    text-align: center;

    span {
      margin: 10px;
    }
  }

  .footnotes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    
    section {
      display: flex;
      flex-direction: column;

      span {
        font-size: 8px;
      }
    }
  
    .follow-us {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px 0 0 0;

      h3 {
        margin-bottom: 10px;
      }
      
      .social-media {
        display: flex;
        flex-direction: row;
        width: 200px;
        justify-content: space-between;
      }
    }
  }

  .info {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #003a3a;
    color: white;

    span {
      padding: 10px;
    }

    a:hover {
      color: #01ffff;
    }
  }
}

.logo {
  position: absolute;
  top: -45px;
}

input, textarea{
  background-clip: border-box;
  margin: 10px;
  padding: 5px 8px;
  border-radius: 4px;
  border: 1px solid #C4C4C4;
  outline: unset;

  &:invalid {
    background-clip: border-box;
    font-style: italic;
    color: #C4C4C4;
    background: #f4f4f4;
  }

  &:hover {
    color: black;

    &::placeholder{
      color: black;
      font-style: normal;
    }
  }

  &:focus::placeholder {
    color: transparent;
  }

  &:hover, &:focus{
    background: white;
  }
}

textarea {
  background: #f4f4f4;
  resize: none;

  &::placeholder {
    font-style: italic;
  }
}

input[type="date"]:invalid {
  color: #777777;
}

.fancy {
  font-family: Pacifico;
  color: #cc2837;
  margin-top: 10px;
  text-align: center;
}