.stool {
  display: flex;
  position: relative;

  section {
    display: flex;
    flex-direction: column;
    margin: 200px 0 0 60%;

    color: white;
    font-weight: bolder;
    font-size: 18px;
    text-align: center;
    width: 372px;

    h1 {
      font-family: 'Open Sans Condensed';
      font-weight: 700;
      font-size: 25px;
    }

    span {
      font-size: 16px;
      color: #E2DE85;


      width: 240px;
      margin: 20px auto;
      line-height: 20px;
    }
  }
}

.burger {
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Open Sans Condensed';
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  
  a {
    color: #cf2a3e;
    font-size: 28px;
    text-transform: uppercase;
    text-decoration: underline;
    margin: 10px;

    &:hover {
      color: #f7a442;
    }
  }

  .burger-images {
    display: flex;

    img {
      border-radius: 50px;
      margin: 15px;
    }
  }

  p {
    width: 720px;
    padding-bottom: 25px;
    a {
      font-size: 20px;
      margin: 0;
      text-transform: none;
    }
  }
}
